.clickable {
  color: #466d55;
}

.clickable.hover {
color: #36b567;
}

.initiallyHidden {
  display: none;
}

p {
  display: none;
  font-family: 'Open Sans Condensed', sans-serif;
}

li {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
